.header-input {
  margin: 2% auto;
  width: 250px;
}

.list-results {
  border: 0.01em solid grey;
  border-radius: 10px;
  margin: 2% auto;
  width: 700px;
  height: 1000px;
  background-color: #fff;
}

.background {
  /*background-image:url('//b.fastcompany.net/multisite_files/fastcompany/inline/2015/05/3045886-inline-i-1-nfl-marvel.jpg');
  background-size: cover;
  background-repeat: no-repeat;*/
}

img {
  width:200px;
  height:200px;
  margin: 1% 2%;
  border-radius: 10px
}

hr {
  margin-top: 2px;
  margin-bottom: 2px;
}

#user-input {
  height: 2.2em;
  display: inline-block;
}

ul {
  list-style-type: none;
  display: inline-block;
}


/* MODAL CSS */

  /* Outer */
  .popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
    background-image: url('http://insider.ticketmaster.com/wp-content/uploads/nfl-schedule-guide.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* Inner */
  .popup-inner {
    max-width:1000px;
    width:80%;
    height:80%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
  }

  /* Close Button */
  .popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px; /* turns it into circle */
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
  }

  .popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    color:red;
    text-decoration:noane;
  }
