body {
  color:#8c96a1;
}

.header-input {
  margin: 2% auto;
  width: 250px;
}

.list-results {
  border: 0.01em solid grey;
  border-radius: 10px;
  margin: 0% auto;
  width: 700px;
  height: 1000px;
  background-color: #fff;
  /*display:none;*/
}

.intro-message h1 {
  padding: 0;
  margin: 0 auto;
  position: relative;
  width: 96%;
}

h1:after {
  height: 5px;
  width: 160px;
  background: #d55e2a;
  display: table;
  content: " ";
  margin: 30px auto 25px;
}

.intro-message h1 {
  font-size: 38px;
  line-height: 53px;
  max-width: 680px;
  text-align: center;
}

.list {
  background-color:#F3F3F3;
  border-top:1px solid white;
}

img {
  width:200px;
  height:200px;
  margin: 1% 2%;
  border-radius: 10px
  border: 0.01em solid grey;
}

hr {
  margin-top: 2px;
  margin-bottom: 2px;
}

#user-input {
  height: 2.2em;
  display: inline-block;
}

ul {
  list-style-type: none;
  display: inline-block;
}

ol#top_crimes_list {
  list-style-type: none;
}


/* MODAL CSS */

  /* MODAL2 Outer */
  .popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
    background-image: url('http://insider.ticketmaster.com/wp-content/uploads/nfl-schedule-guide.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* MODAL2 Inner */
  .popup-inner {
    max-width:1000px;
    width:80%;
    height:80%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
  }

  /* Close Button */
  .popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px; /* turns it into circle */
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
  }

  .popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    color:red;
    text-decoration:none;
  }
/* End Modal */


  .page-outer {
    padding: 20px;
    max-width: 1600px;
    width: 90%;
    margin: 0 auto;
    position: relative;
  }

  .background {
    position: relative;
    display: table;
    width: 100%;
    background: #1d2023;
    color: white;
    /*padding: 80px 20px;*/
    margin:0 auto;
    /*width:1000px;*/
  }

  header {
    padding: 20px 20px;
    background: #1d2023;
    margin: 0 auto;
    width:100%;
    /*border-bottom: 1px solid #fff;;*/
  }

  .intro-message {
    position: relative;
    display: table;
    margin:0 auto;
    width: 100%;
    background: #1d2023;
    color: #fff;
    padding: 80px 20px;
    height:300px;
    border-bottom:1px solid #fff;
  }

  div.social {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 50px 0 30px;
  }

  div.social a {
    display: inline-block;
    margin: 0 20px;
  }

  a {
    color: #8c96a1;
    text-decoration: none;
  }

  .footer {
    text-align: center;
    font-size: 13px;
    height: 100px;
  }

  .wrapper {
    padding: 0;
    margin: 0 auto;
    position: relative;
    width: 96%;
    max-width: 1200px;
  }



  .feat1 {
    background-color: #C04044;
    height:400px;
    width:50%;
    border-top: 1px solid #fff;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    overflow: scroll;
    color: #fff;

  }

  div.feat2 {
    background-color: #122756;
    border-right: 2px solid #fff;
    width:50%;
    height:400px;
    color:#fff;
    margin-top: -20px;
  }

  .feat3 {
    background-color: #626262;
    border-top: 2px solid #fff;
    float:right;
    height:800px;
    width:50%;
    right:0px;
    top:0px;
  }

  .feat1:hover, .feat2:hover, .feat3:hover {
    opacity: .9;
    transition: opacity 300ms ease-in-out 0s;
  }

  .result-item:hover {
    opacity: .6;
    transition: opacity 300ms ease-in-out 0s;
  }
